<div class="lista-cursos">
    <h2>Lista de Cursos</h2>
    <div *ngFor="let curso of cursos" class="curso-item">
      <p><strong>Nombre del curso:</strong> {{ curso.materia }}</p>
      <p><strong>Profesor:</strong> {{ curso.profesor }}</p>
      <p><strong>Fecha de inicio:</strong> {{ curso.fechaInicio }}</p>
      <p><strong>Fecha de fin:</strong> {{ curso.fechaFin }}</p>
      <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
    </div>
  
    <div *ngIf="cursos.length === 0">No hay cursos registrados.</div> <!-- Mensaje si no hay cursos -->
  </div>
  