<div id="lista-cursos">
  <div *ngFor="let curso of cursos">
    <p><strong>Nombre del curso:</strong> {{ curso.materia }}</p>
    <p>Profesor: {{ curso.profesor }}</p>
    <p>Fecha de inicio: {{ curso.fechaInicio }}</p>
    <p>Fecha de fin: {{ curso.fechaFin }}</p>
    
    <button (click)="toggleDetalles(curso)">
      {{ curso.mostrarDetalles ? 'Ocultar detalles' : 'Ver más detalles' }}
    </button>

    <div *ngIf="curso.mostrarDetalles">
      <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
    </div>
  </div>
</div>
