h1 {
    color: #007BFF;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
}

.img-container {
    text-align: center;
    margin-bottom: 20px; 
}

.img-container img {
    width: 250px;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

/* Estilos para la tabla de imágenes */
.image-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.image-table tr {
    background-color: #f9f9f9;
}

.image-table td {
    padding: 10px;
    text-align: center;
}

.image-table td img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease-in-out;
}

.image-table td img:hover {
    transform: scale(1.05); /* Ligeramente agranda la imagen al hacer hover */
}

.image-table tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse por la fila */
}

/* Opcional: Bordes para la tabla */
.image-table, .image-table td {
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para el bloque de descripción */
.project-description {
    margin-bottom: 30px;
}

.project-description h1 {
    font-size: 2em;
    color: #007BFF;
}

.project-description p {
    text-align: justify;
    font-size: 1.1em;
    margin: 10px 20px;
}
