<header>
  <h1 class="Cabecera">REGISTRO DE CURSOS</h1>
</header>

<body>
  <div class="menu">
    <nav>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/cursos">Cursos</a></li>
        <li><a routerLink="/agregar-cursos">Agregar Cursos</a></li>
        <li><a routerLink="/contactos">Contactos</a></li>
      </ul>
    </nav>
  </div>

  <main>
    <!-- Aquí se renderiza el componente según la ruta -->
    <router-outlet></router-outlet>

    <section id="seccion1">
      <div class="img-container">
        <img src="assets/images/Logo_Universidad_Politécnica_Salesiana_del_Ecuador.png" alt="Logo">
      </div>
    </section>
  </main>

  

  <script src="scripts.js"></script>
</body>
