
<section id="cursosagg" class="aggr">
    <form id="curso-form" onsubmit="agregarCurso(event)"> <!-- Formulario para agregar un nuevo curso -->
        <label for="nombre-materia">Nombre de la materia:</label> <!-- Etiqueta para el campo de nombre de la materia -->
        <input type="text" id="nombre-materia" name="nombre-materia" pattern="[A-Za-z ]+" placeholder="Ingresa nombre de la materia" required> <!-- Campo de entrada para el nombre de la materia -->
        
        <label for="nombre-profesor">Nombre del profesor:</label> <!-- Etiqueta para el campo de nombre del profesor -->
        <input type="text" id="nombre-profesor" name="nombre-profesor" pattern="[A-Za-z ]+" placeholder="Ingresa el nombre del profesor" required> <!-- Campo de entrada para el nombre del profesor -->
        
        <label for="start">Fecha de Inicio:</label> <!-- Etiqueta para el campo de fecha de inicio -->
        <input type="date" id="start" name="start" required> <!-- Campo de entrada para la fecha de inicio -->

        <label for="end">Fecha de Fin:</label> <!-- Etiqueta para el campo de fecha de fin -->
        <input type="date" id="end" name="end" required> <!-- Campo de entrada para la fecha de fin -->

        <label for="descripcion">Descripción:</label> <!-- Etiqueta para el campo de descripción -->
        <textarea id="descripcion" name="descripcion" placeholder="Ingresa una descripción" required></textarea> <!-- Campo de texto para la descripción -->

        <input type="submit" value="Agregar" class="boton"> <!-- Botón para enviar el formulario y agregar un curso -->
    </form>
</section>
nnbvnb