<!-- Formulario para agregar cursos -->
<section id="agregar-curso">
    <h2>Registrar nuevo curso</h2>
    <form id="course-form" (ngSubmit)="agregarCurso($event)">
        <label for="course-name">Nombre del curso:</label>
        <input type="text" id="course-name" [(ngModel)]="materia" pattern="[A-Za-z ]+" placeholder="Ingresa nombre de la materia" required name="course-name">

        <label for="instructor-name">Nombre del instructor:</label>
        <input type="text" id="instructor-name" [(ngModel)]="profesor"  required name="instructor-name">

        <label for="start-date">Fecha de inicio:</label>
        <input type="date" id="start-date" [(ngModel)]="fechaInicio" required name="start-date">

        <label for="duration">Fecha Fin:</label>
        <input type="date" id="duration" [(ngModel)]="fechaFin" required min="1" name="duration">

        <label for="description">Descripción:</label>
        <textarea id="description" [(ngModel)]="descripcion" required name="description"></textarea>

        <button type="submit">Agregar Curso</button>
    </form>
</section>